<table class="table table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Job</th>
      <th>Hiredate</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.employees as |employee|}}
      <tr>
        <th scope="row">{{employee.empno}}</th>
        <td>{{employee.ename}}</td>
        <td>{{employee.job}}</td>
        <td>{{employee.hiredate}}</td>
        <td>{{employee.sal}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
